{% extends 'list.html' %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block head_list %}
<link rel="stylesheet" href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" />
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
<!-- Auto Numeric -->
<script src="{% static 'lib/autonumeric/autoNumeric.js' %}"></script>

<script src="{% static 'sale/js/form.js' %}"></script>
{% endblock %}

{% block content %}
<form method="POST" id="formSale">
    <!-- <input name="action" type="hidden" value="add"> -->
    <input name="id" id="id" type="hidden" value="0">
    <input name="type_request" type="hidden" value="0">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title em-15">
                {% if action == 'add' %}
                <i class="fas fa-plus"></i>
                {% else %}
                <i class="fas fa-edit"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <div class="card text-dark" style="background-color: #d1e0eb;">
                        <div class="card-header border-0 text-white" style="background-color: #0278ae;">
                            <h3 class="card-title text-dark em-15">
                                <i class="fas fa-receipt mr-1"></i>
                                TOTALES DE LA VENTA
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                                <div class="form-group" style="width: 40%;">
                                    <label class="large">Subtotal</label>
                                    {{ form.subtotal }}
                                </div>
                                <div class="form-group" style="text-align: center; width: 20%;">
                                    <label class="large">IVA</label>
                                    {{ form.iva }}
                                </div>
                                <div class="form-group" style="text-align: right; width: 40%;">
                                    <label class="large">IVA Calculado</label>
                                    <input type="text" style="text-align: right;" class="form-control large"
                                        name="calculated_iva" value="0.00" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                                <div class="form-group wd-50">
                                    {{ form.total }}
                                </div>
                                <div class="form-group wd-15">
                                    <input type="text" class="form-control height-auto text-center em-25" value="Bs."
                                        disabled>
                                </div>
                                <div class="wd-5"></div>
                                <div class="form-group wd-30">
                                    <input class="form-control text-center height-auto em-25" name="quantity_dolars"
                                        value="0" readonly>
                                </div>
                                <div class="form-group wd-10">
                                    <input type="text" class="form-control height-auto text-center em-25" value="$."
                                        disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="background-color: #0278ae;">
                        <div class="card-header d-flex flex-row flex-nowrap">
                            <div class="wd-70">
                                <h3 class="card-title em-15 text-dark"><i class="fas fa-boxes"></i> DETALLE DE
                                    PRODUCTOS</h3>
                            </div>
                            <div class="wd-30">
                                <!-- <h3 class="card-title text-white">Factura Nº</h3> {{ invoice_number }} -->
                            </div>
                        </div>
                        <div class="card-body" style="background-color: #dfeffa;">
                            <div class="form-group">
                                <label class="h5">Buscador de productos</label>
                                <select name="search" class="form-control select2 em-15" style="width: 100%;">
                                </select>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-danger btn-sm btn-flat btnTrash"
                                style="margin-bottom: 5px;">
                                <i class="fas fa-trash"></i> Eliminar todos los registros
                            </button>
                            <table class="table table-bordered" data-page-length='6' id="tableProducts">
                                <thead>
                                    <tr>
                                        <th style="font-size: large; width: 5%;">...</th>
                                        <th style="font-size: large; text-align: left!important; width: 40%;">PRODUCTO
                                        </th>
                                        <th style="font-size: large; width: 20%;">PVP(C/IVA)</th>
                                        <th style="font-size: large; width: 15%;">CANTIDAD</th>
                                        <th style="font-size: large; text-align: right!important; width: 20%;">TOTAL
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="sticky-top mb-3">
                        <div class="card text-dark" style="background-color: #d1e0eb;">
                            <div class="card-header border-0 text-white" style="background-color: #0278ae;">
                                <h3 class="card-title text-dark em-15">
                                    <i class="fas fa-money-check-alt mr-1"></i>
                                    DETALLES DEL PAGO
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="form-group" style="margin-bottom: 0rem!important;">
                                        <label class="large">Cliente</label>
                                    </div>
                                    <div class="text-right" style="margin-bottom: 0rem!important;">
                                        <button type="button" name="new_client" id="new_client"
                                            class="btn btn-sm btn-danger btnAddClient"><i class="fas fa-plus"></i><i
                                                class="fas fa-user"></i> Nuevo Cliente</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select name="searchClient" id="searchClient" style="width: 100%;"
                                        class="form-control select2">
                                        <option value="{{ cli.id }}">{{ cli.names }} {{ cli.ci }}</option>
                                    </select>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="form-check text-right" style="margin-bottom: 0rem!important;">
                                        <input type="checkbox" class="form-check-input" id="check"
                                            onclick="calculateDiscount()">
                                        <label class="form-check-label large" for="check">Aplicar Descuento</label>
                                    </div>
                                </div>
                                <div id="box" style="margin-top: 10px!important;">
                                    <div class="form-group">
                                        <label class="text-secondary large">Descuento</label>
                                        {{ form.discount }}
                                    </div>
                                    <div class="form-group">
                                        <label class="text-secondary large">Descripción del Descuento</label>
                                        {{ form.desc_discount }}
                                    </div>
                                </div>
                                <hr>
                                <div id="cheksPayMethods" class="form-group">
                                    <label class="large">Método de Pago</label>
                                    <div class="form-group d-flex justify-content-around">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="cash_payment" value="option1" onclick="optionsTypeSale()">
                                            <label class="form-check-label large" for="cash_payment">Al Contado</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="credit_payment" value="option2" onclick="optionsTypeSale()">
                                            <label class="form-check-label large"
                                                for="credit_payment">Crédito/Presupuesto</label>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div id="box1">
                                    <div class="d-flex justify-content-between">
                                        <div class="form-group" style="margin-bottom: 0rem!important;">
                                            <label class="large">Seleccione el Método</label>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0rem!important;">
                                            <label class="large">Entrada</label>
                                        </div>
                                        <div class="form-group"
                                            style="margin-bottom: 0rem!important; margin-right: 20px;">
                                            <label class="large">Cambio</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="box2">
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                                        <div class="form-group" style="width: 40%;">
                                            <select name="method_pay" class="form-control">
                                                {% for i in methods %}
                                                <option value="{{ i.id }}" {% if i.id == 2 %} selected {% endif %}>
                                                    {{ i.name }} ({{ i.type_symbol }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group" style="width: 35%; text-align: center;">
                                            {{ form.received }}
                                        </div>
                                        <div class="form-group" style="width: 25%; text-align: center;">
                                            {{ form.exchange }}
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                                        <div class="form-group" style="width: 40%;">
                                            <select name="method_pay1" class="form-control" value="2">
                                                {% for i in methods %}
                                                <option value="{{ i.id }}">{{ i.name }} ({{ i.type_symbol }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group" style="width: 35%; text-align: center;">
                                            {{ form.received1 }}
                                        </div>
                                        <div class="form-group" style="width: 25%; text-align: center;">
                                            {{ form.exchange1 }}
                                        </div>
                                    </div>
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                                        <div class="form-group" style="width: 40%;">
                                            <select name="method_pay2" class="form-control">
                                                {% for i in methods %}
                                                <option value="{{ i.id }}">{{ i.name }} ({{ i.type_symbol }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group" style="width: 35%; text-align: center;">
                                            {{ form.received2 }}
                                        </div>
                                        <div class="form-group" style="width: 25%; text-align: center;">
                                            {{ form.exchange2 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="box4">
                                    <label class="large">{{ form.description.label }}</label>
                                    <textarea class="form-control large" name="description" id="description" rows="2"
                                        required>Sin descripción</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="sale" type="submit" class="btn btn-primary large btn-flat">
            <i class="fas fa-cash-register"></i> GENERAR VENTA
        </button>
        <button id="budget" type="button" class="btn btn-primary large btn-flat">
            <i class="fas fa-file-alt"></i> GENERAR PRESUPUESTO
        </button>
    </div>
    </div>
</form>

<div class="modal fade" id="modalClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form method="post" action="." id="formClient">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas text-primary fa-plus"></i><span> <i
                                    class="fas text-primary fa-user-friends"></i> NUEVO CLIENTE</span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input name="action" type="hidden" value="add">
                        <input name="id" id="id" type="hidden" value="0">
                        <div class="form-group">
                            <label class="large" for="id_names">{{ formClient.names.label }}</label>
                            {{ formClient.names }}
                        </div>
                        <label class="large" for="id_ci">{{ formClient.ci.label }}</label>
                        <div class="d-flex flex-row flex-nowrap">
                            <div class="form-group wd-10">
                                {{ formClient.identity }}
                            </div>
                            <div class="form-group wd-90">
                                {{ formClient.ci }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="large" for="id_contact">{{ formClient.contact.label }}</label>
                            {{ formClient.contact }}
                        </div>
                        <div class="form-group">
                            <label class="large" for="id_address">{{ formClient.address.label }}</label>
                            {{ formClient.address }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary large btn-flat btn-block"><i class="fas fa-save"></i>
                        Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    sales.items.dolar1 = {{ dl.dolar1 | safe }}
    sales.items.products = {{ det | safe }}
    sales.list();
</script>
{% endblock %}